body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.centered {
    margin: auto;
    width: 80%;
}

.notif {
    color: whitesmoke;
    margin: auto;
    width: 40%;
    font-size: 20px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
