body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notif {
    color: whitesmoke;
    font-size: 20px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
